<div style=" height: 700px; width: 1860px;">
    

    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="background-color:green; float: left; height: 700px; width: 700px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <span style="margin-top: 100px;">If you wish to login</span>

                <div>
                    <form style="margin-top: 300px; text-align: center;">
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname"><br><br>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname"><br><br>
                      </form>
                    <!--inputs-->
                </div>

                <div>
                    <button>Login</button>
                </div>
            </div>
        </div>
        <div style="background-color:rgb(211, 137, 0); float: right; height: 700px; width: 700px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <span style="margin-top: 100px;">If you wish to register</span>

                <div>
                    <!--inputs-->
                    <form style="margin-top: 300px; text-align: center;">
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname"><br><br>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname"><br><br>
                        <label for="adress">Adress:</label>
                        <input type="text" id="adress" name="adress"><br><br>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city"><br><br>
                        <input type="checkbox" id="vendor">
                        <label for="vendor">Become vendor</label>
                      </form>
                </div>

                <div>
                    <button>Register</button>
                </div>
            </div>
        </div>
    </div>
</div>