<div class="sign-in-body">
    <div class="flex-body">
        <div style="display: block">
            <div style="margin-top: 100px; text-align: center; font-size: 24px;">Sign In</div>
            <div style="margin-top: 30px;">
                <!--inputs-->
                <form style="text-align: center;">
                    <label for="fname">First name:&nbsp;</label>
                    <input type="text" id="fname" name="fname"><br><br>
                    <label for="lname">Last name:&nbsp;</label>
                    <input type="text" id="lname" name="lname"><br><br>
                    <button class="beautiful-button" (click)="authenticate($event)">Login</button>
                </form>
            </div>
        </div>
        <div style="display: block">
            <div style="margin-top: 100px; text-align: center; font-size: 24px;">Register</div>
            <div style="margin-top: 30px;">
                <!--inputs-->
                <form style="text-align: center;">
                    <label for="fname">First name:&nbsp;</label>
                    <input type="text" id="fname" name="fname"><br><br>
                    <label for="lname">Last name:&nbsp;</label>
                    <input type="text" id="lname" name="lname"><br><br>
                    <label for="adress">Adress:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="adress" name="adress"><br><br>
                    <label for="city">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="city" name="city"><br><br>
                    <div>
                        <input type="checkbox" id="vendor">
                        <label for="vendor">&nbsp;I want to be a vendor</label>
                    </div>
                    <button class="beautiful-button" style="margin-top: 10px;" (click)="register()">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>