<div class="sign-in-body">
    <div class="flex-body" style="padding-top: 30px;">
        <div class="form-wrapper" style="display: block">
            <div style="margin-top: 20px; text-align: center; font-size: 24px;">Sign In</div>
            <div style="margin-top: 30px; padding: 0 10px 0 10px;">
                <!--inputs-->
                <form #loginForm="ngForm" style="text-align: center;">
                    <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input ngModel type="email" id="email" name="email" required><br><br>
                    <label for="passw">Password:&nbsp;&nbsp;</label>
                    <input ngModel type="password" id="passw" name="passw" required><br><br>
                    <button class="beautiful-button" style="margin-top: 190px;" (click)="loginUser($event, loginForm)">Login</button>
                </form>
            </div>
        </div>
        <div class="form-wrapper" style="display: block">
            <div style="margin-top: 20px; text-align: center; font-size: 24px;">Register</div>
            <div style="margin-top: 30px; padding: 0 10px 0 10px;">
                <!--inputs-->
                <form #registerForm="ngForm" style="text-align: center;">
                    <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input ngModel type="email" id="email" name="email" required><br><br>
                    <label for="passw">Password:&nbsp;&nbsp;</label>
                    <input ngModel type="password" id="passw" name="passw" required><br><br>
                    <label for="fname">First name:&nbsp;</label>
                    <input ngModel type="text" id="fname" name="fname" required><br><br>
                    <label for="lname">Last name:&nbsp;</label>
                    <input ngModel type="text" id="lname" name="lname" required><br><br>
                    <label for="adress">Adress:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input ngModel type="text" id="adress" name="adress" required><br><br>
                    <label for="city">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input ngModel type="text" id="city" name="city" required><br><br>
                    <div>
                        <input style="cursor: pointer;" ngModel type="checkbox" id="vendor" name="vendor">
                        <label style="cursor: pointer;" for="vendor">&nbsp;I want to be a vendor</label>
                    </div>
                    <button class="beautiful-button" style="margin-top: 10px; margin-bottom: 10px;" (click)="registerUser($event, registerForm)">Register</button>
                </form>
            </div>
        </div>
    </div>

    <div class="notificationWrapper">
        <div class="notificationSucces" *ngIf="showRegisterSuccesNotif">
            <span style="font-size: 20px;"><br>Register succesful. <br><br></span>
            <span style="font-size: 17px;">You will be automatically logged in soon</span>
        </div>
        <div class="notificationWarning" *ngIf="showRegisterWarningNotif">
            <span style="font-size: 20px;"><br>Something went wrong. <br><br></span>
            <span style="font-size: 17px;">Register failed. Please make sure your data is right.</span>
        </div>
        <div class="notificationWarning" *ngIf="showLoginWarningNotif">
            <span style="font-size: 20px;"><br>Something went wrong. <br><br></span>
            <span style="font-size: 17px;">Login failed. Please make sure your data is right.</span>
        </div>
    </div>
</div>