<nav>
  <ul>
    <li>
      <button class="beautiful-button" *ngIf="showReturnBtn" (click)="onReturn()">Return</button>
    </li>
    <li>
      <button class="beautiful-button" *ngIf="showSignInBtn" (click)="onSignIn()">Sign In</button>
    </li>
    <li>
      <button class="beautiful-button" *ngIf="showSignOutBtn" (click)="onSignOut()">Sign Out</button>
    </li>
    <li>
      <button class="beautiful-button" *ngIf="isUserAuth" (click)="onUserPanel()">My Profile</button>
    </li>
  </ul>
</nav>

<div class="global-search">
  <input type="text" class="search-input" placeholder="Search across all products...">
  <button class="beautiful-button">Search</button>
</div>

<app-carousel *ngIf="showHomepageElements"></app-carousel>
<app-products-page *ngIf="showHomepageElements"></app-products-page>
<app-signin (authResponse)="captureAuthResponse($event)" *ngIf="showSignInPage" ></app-signin>
<app-userpanel *ngIf="showUserPanel" [userId]="connectedUserId.userId"></app-userpanel>